.container.contact_container {
    width: 100%;
    display: grid;
    gap: 10%;
}

.contact_options {
    display: flex;
    gap: 1rem;
}

.contact_option {
    background: var(--color-bg-variant);
    padding: 0.5rem;
    border-radius: 1rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
    flex: auto;
}

.contact_option:hover {
    background: transparent;
    border-color: var(--color-bg-variant);
}

.contact_option-icon {
    font-size: 1.5rem;
    
}

.contact_option a {
    
    display: inline-block;
}


@media screen and (max-width: 1024px) {
    .container.contact_container {
        grid-template-columns: 1fr;
        gap: 2rem;
        width: 90%;
    }
  }
  
  @media screen and (max-width: 600px) {
    .container.contact_container {
        grid-template-columns: 1fr;
        width: var(--container-width-sm);
    }

    .contact_options {
        flex-direction: column;
    }
  }
  