.container.skillsdevs_container {
  width: 75%;
  padding-bottom: 2rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  background-color: var(--color-bg-variant);
  border-radius: 1rem;
  padding-top: 1rem;
}

.logo {
  width: 2rem;
  height: 2rem;
  overflow: hidden;
  object-fit: fill;
  margin: 0 auto;
}

.skillsdev {
  text-align: center;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  background: var(--color-primary);
}

@media screen and (max-width: 1024px) {
  .container.skillsdevs_container {
    width: 60%;
  }
}

@media screen and (max-width: 600px) {
  .container.skillsdevs_container {
    width: var(--container-width-sm);
  }
}
